default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
        stages: [commit]

  - repo: local
    hooks:
      - id: typos
        name: Check for typos
        entry: typos
        language: system
        files: .*
        exclude: .*\.(png|jpg|jpeg|age)
        stages: [commit]
